{{#each this}}
<li class="item">
    <div class="card mb-3" style="width: 24rem; ">
      <img src="{{webformatURL}}" alt=""  class="card-img-top" />
    
      <div class="card-body">
        <p class="stats-item card-text">
          <i class="material-icons">thumb_up</i>
          {{likes}}
        </p>
        <p class="stats-item card-text">
          <i class="material-icons">visibility</i>
          {{views}}
        </p>
        <p class="stats-item card-text">
          <i class="material-icons">comment</i>
          {{comments }}
        </p>
        <p class="stats-item card-text">
          <i class="material-icons">cloud_download</i>
          {{downloads }}
        </p>
      </div>
    </div>
</li>
{{/each}}